<?xml version="1.0" encoding="UTF-8"?>
<selfletbehavior:Selflet xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:selfletbehavior="http://selfletbehavior/1.0">
  <service name="service2.service" description="Implementations of Service: service2.service">
    <behavior xsi:type="selfletbehavior:Elementary" name="service2.behavior">
      <state xsi:type="selfletbehavior:Init">
        <next targetState="//@service.0/@behavior.0/@state.1"/>
      </state>
      <state xsi:type="selfletbehavior:Invocation" name="invocation_state">
        <action body="service2.service.service2.behavior.invocation_state.action" actionFile="service2.service.service2.behavior.invocation_state.action"/>
        <next targetState="//@service.0/@behavior.0/@state.2"/>
      </state>
      <state xsi:type="selfletbehavior:Final"/>
    </behavior>
  </service>
</selfletbehavior:Selflet>
