<?xml version="1.0" encoding="UTF-8"?>
<selfletbehavior:Selflet xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:selfletbehavior="http://selfletbehavior/1.0">
  <service name="applySubtitles.service" description="Implementations of Service: applySubtitles.service">
    <behavior xsi:type="selfletbehavior:Elementary" name="applySubtitles_behavior">
      <state xsi:type="selfletbehavior:Init">
        <next targetState="//@service.0/@behavior.0/@state.2"/>
      </state>
      <state xsi:type="selfletbehavior:Final"/>
      <state xsi:type="selfletbehavior:Invocation">
        <action body="applySubtitles.service.applySubtitles.action" actionFile="applySubtitles.service.applySubtitles.action"/>
        <next targetState="//@service.0/@behavior.0/@state.1"/>
      </state>
    </behavior>
  </service>
</selfletbehavior:Selflet>
