<?xml version="1.0" encoding="UTF-8"?>
<selfletbehavior:Selflet xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:selfletbehavior="http://selfletbehavior/1.0">
  <service name="downloadVideo.service" description="Implementations of Service: downloadVideo.service">
    <behavior xsi:type="selfletbehavior:Elementary" name="downloadVideo_behavior">
      <state xsi:type="selfletbehavior:Init">
        <next targetState="//@service.0/@behavior.0/@state.1"/>
      </state>
      <state xsi:type="selfletbehavior:Invocation" name="downloadVideoAction">
        <action body="do /downloadVideo.service.downloadVideo_behavior.downloadVideoAction.action" actionFile="downloadVideo.service.downloadVideo_behavior.downloadVideoAction.action"/>
        <next targetState="//@service.0/@behavior.0/@state.2"/>
      </state>
      <state xsi:type="selfletbehavior:Final"/>
    </behavior>
  </service>
</selfletbehavior:Selflet>
