<?xml version="1.0" encoding="UTF-8"?>
<selfletbehavior:Selflet xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:selfletbehavior="http://selfletbehavior/1.0">
  <service name="service1.service" description="Implementations of Service: service1.service">
    <behavior xsi:type="selfletbehavior:Complex" name="behavior1">
      <state xsi:type="selfletbehavior:Init">
        <next targetState="//@service.0/@behavior.0/@state.1"/>
        <next targetState="//@service.0/@behavior.0/@state.2"/>
      </state>
      <state xsi:type="selfletbehavior:Intermediate" name="service1">
        <next targetState="//@service.0/@behavior.0/@state.3"/>
      </state>
      <state xsi:type="selfletbehavior:Intermediate" name="service2">
        <next targetState="//@service.0/@behavior.0/@state.3"/>
      </state>
      <state xsi:type="selfletbehavior:Intermediate">
        <next targetState="//@service.0/@behavior.0/@state.4"/>
      </state>
      <state xsi:type="selfletbehavior:Final"/>
    </behavior>
  </service>
</selfletbehavior:Selflet>
